.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: yellow;
}

.update {
  display: flex;
  flex-direction: column;
}

.open-screening {
  margin: 10px 10px 20px;
  max-width: 200px;
}

h2 {
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (min-width: 320px) {
  .content {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 50%;
  }
}
