.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: yellow;
}

.add {
  display: flex;
  flex-direction: column;
}

.seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid slategray;
  overflow-y: auto;
  overflow-x: auto;
  flex-wrap: wrap;
}

.seat {
  width: 25px;
  height: 25px;
  background: chocolate;
  margin-right: 2px;
}

.row {
  display: flex;
  margin-bottom: 3px;
}

.free {
  background: green;
  cursor: pointer;
}

.taken {
  background: #ff0000;
}

.excluded {
  // visibility: hidden;
  background: gray;
  cursor: pointer;
  opacity: 0.5;
}

.selected {
  background: gold;
}


.tickets {
  display: flex;
  justify-content: space-evenly;
}

.screen {
  height: 5px;
  width: 50vh;
  margin-bottom: 60px;
  margin-top: 10px;
  background-color: black;
}

@media screen and (min-width: 320px) {
  .content {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 50%;
  }
}
