.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: yellow;
}

.operations {
  margin-top: 5px;
  display: flex;
}

.operations > div {
  background: aqua;
  border: 3px solid black;
}

.select {
  width: 50%;
}

td {
  text-align: center;
}

@media screen and (min-width: 320px) {
  .content {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 50%;
  }
}

.seats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat {
  width: 50px;
  height: 50px;
  background: chocolate;
  margin-right: 2px;
}

.row {
  display: flex;
  margin-bottom: 3px;
}

.free {
  background: green;
  cursor: pointer;
}

.taken {
  background: red;
}

.excluded {
  //background: white;
  visibility: hidden;
}

.selected {
  background: gold;
}


.tickets {
  display: flex;
  justify-content: space-evenly;
}

.screen {
  height: 5px;
  width: 90%;
  margin-bottom: 25px;
  background-color: black;
}
